@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* reset the page */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }

  @-ms-viewport {
    width: device-width;
  }

	body {
		-ms-overflow-style: scrollbar;
	}

  h2, h5
  {
    padding-top: 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
  }

  p
  {
    font-family: Merriweather;
  }

	@media screen and (max-width: 480px)
  {
		html, body {
			min-width: 320px;
		}
	}

	body
  {
    background-color: #f0f0ee;
	}

	@media screen and (max-width: 980px)
  {
		#header {
			display: none;
		}
	}

/* navigation */
  #navbar
  {
    background-color: #3A8E9E;
    margin-bottom: 2px;
  }

  .navbar-brand   /* Text logo */
  {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
  }

  .navbar-nav
  {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
  }

/* Homepage - Landing image & quote */
  .mainBanner
  {
    position: relative;
    background-color: #343a40;
    background: url("/Users/MohammedTokaria/Desktop/Year_1/Sem_1/AC11002_3wA/Assignments/Assign_2/Assign_2_Portfolio/Assets/images/mainBanner.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .mainBanner .overlay
  {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  .mainBanner h1
  {
    font-size: 24px;
  }

  #quoteAuthor
  {
    text-align: right;
    font-size: 20px;
  }

  @media (min-width: 768px)
  {
    #quoteAuthor {
       text-align: right;
       font-size: 28px;
    }

    .mainBanner {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }

    .mainBanner h1 {
      font-size: 48px;
    }
  }

  /* Homepage projects images and text */
    #headingContainer
    {
      padding-left: 0px;
      padding-right: 0px;
    }

    #ProjHeading
    {
      background-color: #C9DCD8;
      font-family: 'Fira Sans', sans-serif;
      font-size: 32px;
      color: #C4522E;
      margin-top: 2px;
      padding-left: auto;
      padding-right: auto;
      padding-bottom: 16px;
    }

    .recentProjects
    {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .recentProjects .projectContainer
    {
      margin-top: 20px;
      padding-bottom: 20px;
      padding-left: auto;
      padding-right: auto;
    }

    .recentProjects .projectContainer img
    {
      -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
      box-shadow: 0px 5px 5px 0px #adb5bd;
    }

/* Footer starts from here */
.footer
{
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #3A8E9E;
}

  /* Social Media Icons */
    .fa-facebook
    {
      color: #fff;
    }

    .fa-twitter-square
    {
      color: #fff;
    }

    .fa-instagram
    {
      color: #fff;
    }
